###critical values for pressure
pres_verylow=979
pres_low_min=980
pres_low_max=1000
pres_normal_min=1001
pres_normal_max=1020
pres_high_min=1021
pres_high_max=1040
pres_veryhigh=1041
###critical values for huminity
hum_verylow=50
hum_low_min=51
hum_low_max=70
hum_normal_min=71
hum_normal_max=90
hum_high_min=91
hum_high_max=110
hum_veryhigh=111
###critical values for temperature
temp_verylow=-10
temp_low_min=-9
temp_low_max=14
temp_normal_min=15
temp_normal_max=25
temp_high_min=26
temp_high_max=35
temp_veryhigh=36
