###critical values for pressure
pres_verylow=980
pres_low_min=981
pres_low_max=999
pres_normal_min=1000
pres_normal_max=1020
pres_high_min=1021
pres_high_max=1039
pres_veryhigh=1040
###critical values for huminity
hum_verylow=20
hum_low_min=21
hum_low_max=39
hum_normal_min=40
hum_normal_max=60
hum_high_min=61
hum_high_max=79
hum_veryhigh=80
###critical values for temperature
temp_verylow=-10
temp_low_min=-9
temp_low_max=14
temp_normal_min=15
temp_normal_max=25
temp_high_min=26
temp_high_max=39
temp_veryhigh=40
